body {
    font-family: "Lato", sans-serif;
    margin: 0px;
}
body {
    background-image: url("./westerlund.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
	opacity: 1;
}
.giffy{
  background-image: url("./universe.gif");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
	opacity: 1;
}
.brand{
    font-size: 45px;
    color:white;
    font-family:"algerian";
    background-origin:content-box;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 1rem;
    background-origin:content-box;
    background-size: 100%;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.active-nav-link {
  border-bottom: 1px solid aqua;
}

.active-nav-link a {
  color: red !important;
}

.nav-link-wrapper a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid aqua;
}

.nav-link-wrapper a:hover {
  color: aqua;
}
.a{
    font-size: 35px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
}
.b{
    font-size: 27px;
    font-family:'calibri';
    font-weight: bold;
    color: whitesmoke;
}
.infoas{
  font-size: 28px;
    font-family:'calibri';
    font-weight: bold;
    color: white;
}
.infoas a{
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}
.infoas a:hover{
  color: rgb(238, 158, 39);
  border-bottom: 1px solid rgb(238, 158, 39);
}
.aboutd{
    font-size: 25px;
    font-family:'times new roman';
    font-style: italic;
    color: whitesmoke;
}
.goalinfo{
  font-size: 25px;
  font-family:'times new roman';
  font-style: italic;
  color: whitesmoke;
}
.astro-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.astro-item-wrapper {
  position: relative;
}

.astro-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.img-text-wrapper .subtitle {
  transition: 1s;
  color:transparent;
}

.image-blur {
  transition: 1s;
  filter: brightness(20%);
}

.img-text-wrapper:hover .subtitle {
  color: aquamarine;
  font-weight: 600;
}

.logo-wrapper img {
  width: 25%;
  margin-bottom: 20px;
}

.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
  width: 100%;
}

.profile-content-wrapper {
  padding: 30px;
}

.profile-content-wrapper h1 {
  color: lightseagreen;
}